## Green Trips

In [1]:
import pandas as pd
import numpy as np

In [2]:
green = pd.read_csv('green_trips.csv.gz')
geography = pd.read_csv("geographic.csv")

In [3]:
green.head()

,pickup_datetime,dropoff_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,trip_distance,total_amount
0,2015-02-01 01:26:45,2015-02-01 01:49:58,-73.953545,40.811172,-73.984764,40.728386,1,8.11,27.8
1,2015-01-02 20:06:28,2015-01-02 20:14:04,-73.946709,40.714321,-73.961571,40.711475,1,1.29,9.8
2,2014-09-27 17:55:38,2014-09-27 18:19:56,-73.957626,40.718094,-73.947304,40.777813,5,6.12,26.3
3,2014-04-27 02:27:04,2014-04-27 02:39:02,-73.949501,40.713997,-73.987785,40.718582,2,3.68,17.3
4,2014-05-26 18:32:19,2014-05-26 18:44:13,-73.944092,40.672195,-73.977325,40.664013,1,2.40,11.5

In [4]:
green.shape

(3589048, 9)

In [5]:
geography.head(5)

,BK88,QN52,QN48,QN51,QN27,BX35,BX98,QN07,MN06,QN02,...,MN25,MN24,MN23,MN13,MN15,MN32,MN33,MN99,QN18,QN29
0,-73.976051,-73.794934,-73.775740,-73.803792,-73.861099,-73.896967,-73.872873,-73.757258,-73.946080,-73.760316,...,-74.000784,-73.992605,-73.989904,-74.001535,-73.993833,-73.938048,-73.935054,-74.010930,-73.858726,-73.867911
1,40.631284,40.757806,40.743334,40.775618,40.763673,40.834350,40.785983,40.718147,40.821271,40.675118,...,40.694295,40.724145,40.734443,40.762653,40.772940,40.780838,40.791695,40.684500,40.735717,40.744942
2,-73.977167,-73.794749,-73.775799,-73.800991,-73.859931,-73.896787,-73.872886,-73.755890,-73.946404,-73.758806,...,-74.000960,-73.992634,-73.989870,-74.001339,-73.993789,-73.937903,-73.935108,-74.011934,-73.858672,-73.867877
3,40.630755,40.755636,40.743326,40.775397,40.762209,40.834133,40.785971,40.716307,40.820580,40.673014,...,40.694077,40.724065,40.733535,40.762217,40.772912,40.780758,40.791658,40.683896,40.735627,40.744824
4,-73.977000,-73.794579,-73.778060,-73.798653,-73.859668,-73.896303,-73.872983,-73.754702,-73.946720,-73.758598,...,-74.003015,-73.993093,-73.990028,-74.001279,-73.993727,-73.937796,-73.935173,-74.012177,-73.858585,-73.867852

In [6]:
# Revisar si existen valores nulos (NaNs)
# green.isnull().sum()

El siguiente procedimiento convierte el formato leído a un formato similar al .wkt que lee la librería de gráficos `geopandas`.

In [7]:
geodf_raw = geography.transpose()

In [8]:
ntas_names = list(geodf_raw.index)
polygons = []
for i in range(len(geodf_raw)):
    string = 'POLYGON (('
    coord = ''
    for j in geodf_raw.columns:
        if (not pd.isna(geodf_raw.iloc[i,j])): 
            if j % 2 == 0:
                coord = str(geodf_raw.iloc[i,j])
            elif j % 2 == 1:
                coord = coord + ' ' + str(geodf_raw.iloc[i,j]) + ','
                string = string + coord
    string = string + str(geodf_raw.iloc[i,0]) + ' ' + str(geodf_raw.iloc[i,1]) + '))'
    polygons.append(string)
    
ntas_df = pd.DataFrame( {'name':ntas_names, 'geometry':polygons} )

In [9]:
ntas_df.head()

   name                                           geometry
0  BK88  POLYGON ((-73.9760507905698 40.6312841471042,-...
1  QN52  POLYGON ((-73.7949338459459 40.7578063026709,-...
2  QN48  POLYGON ((-73.7757397458527 40.743333917592295...
3  QN51  POLYGON ((-73.8037916164017 40.7756183875692,-...
4  QN27  POLYGON ((-73.8610986485262 40.7636727485249,-...

In [10]:
#ntas_df.to_csv('ntas_df.csv')

In [11]:
import geopandas
from shapely import wkt

In [12]:
ntas_df['geometry'] = ntas_df['geometry'].apply(wkt.loads)

In [13]:
gdf = geopandas.GeoDataFrame(ntas_df, geometry='geometry')
print(gdf.head())

   name                                           geometry
0  BK88  POLYGON ((-73.9760507905698 40.6312841471042, ...
1  QN52  POLYGON ((-73.79493384594591 40.7578063026709,...
2  QN48  POLYGON ((-73.7757397458527 40.7433339175923, ...
3  QN51  POLYGON ((-73.8037916164017 40.7756183875692, ...
4  QN27  POLYGON ((-73.86109864852619 40.7636727485249,...

In [14]:
gdf.plot();

### Leyendo green_trips y convirtiendo puntos en NTAs

In [15]:
from shapely.geometry import Point, Polygon

In [16]:
point_list = []
for i in list(zip(list(green['pickup_latitude']),list(green['pickup_longitude']))):
    point_list.append(Point(i[1],i[0]))
    
point_list_df = pd.DataFrame(columns = ['geometry'], data = point_list)

In [17]:
point_list_df.head()

                               geometry
0  POINT (-73.9535446167 40.8111724854)
1  POINT (-73.9467086792 40.7143211365)
2  POINT (-73.9576263428 40.7180938721)
3  POINT (-73.9495010376 40.7139968872)
4  POINT (-73.9440917969 40.6721954346)

In [18]:
points_gdf = geopandas.GeoDataFrame(point_list_df, geometry='geometry')
print(points_gdf.head())

                               geometry
0  POINT (-73.9535446167 40.8111724854)
1  POINT (-73.9467086792 40.7143211365)
2  POINT (-73.9576263428 40.7180938721)
3  POINT (-73.9495010376 40.7139968872)
4  POINT (-73.9440917969 40.6721954346)

In [19]:
points = points_gdf
polys = gdf
pointInPoly = geopandas.sjoin(points, polys, op='within')

In [20]:
pointInPoly.head()

                                    geometry  index_right  name
0       POINT (-73.9535446167 40.8111724854)          148  MN09
39  POINT (-73.96208190919999 40.8052177429)          148  MN09
41  POINT (-73.96212768550001 40.8054428101)          148  MN09
53      POINT (-73.9570465088 40.8125801086)          148  MN09
60  POINT (-73.95924377439999 40.8092575073)          148  MN09

In [21]:
green_nta = green.join(pointInPoly['name'], how='left')
green_nta = green_nta.rename(columns={'name': 'nta_code'})

In [22]:
green_nta.head()

,pickup_datetime,dropoff_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,trip_distance,total_amount,nta_code
0,2015-02-01 01:26:45,2015-02-01 01:49:58,-73.953545,40.811172,-73.984764,40.728386,1,8.11,27.8,MN09
1,2015-01-02 20:06:28,2015-01-02 20:14:04,-73.946709,40.714321,-73.961571,40.711475,1,1.29,9.8,BK90
2,2014-09-27 17:55:38,2014-09-27 18:19:56,-73.957626,40.718094,-73.947304,40.777813,5,6.12,26.3,BK73
3,2014-04-27 02:27:04,2014-04-27 02:39:02,-73.949501,40.713997,-73.987785,40.718582,2,3.68,17.3,BK73
4,2014-05-26 18:32:19,2014-05-26 18:44:13,-73.944092,40.672195,-73.977325,40.664013,1,2.40,11.5,BK61

In [23]:
green_nta.shape

(3589048, 10)

In [24]:
# Valores nulos (NaNs) en green_nta
green_nta.isnull().sum()

pickup_datetime          0
dropoff_datetime         0
pickup_longitude         0
pickup_latitude          0
dropoff_longitude        0
dropoff_latitude         0
passenger_count          0
trip_distance            0
total_amount             0
nta_code             97549
dtype: int64

In [25]:
# Filas con valores NaN en cualquier columna
# green_nta[green_nta.isnull().any(axis=1)]

### Merge con Zonas

In [26]:
zones = pd.read_csv("zones.csv")

In [68]:
# Encontrar nta_code duplicados
names = zones.nta_code.value_counts()
print(len(names[names > 1]))
# Ejemplo de filas duplicadas por nta-code
# Se puede eliminar la columna zone?
zones.loc[zones['nta_code']=='QN70']

44

   location_id borough          zone service_zone nta_code
6            7  Queens       Astoria    Boro Zone     QN70
7            8  Queens  Astoria Park    Boro Zone     QN70

In [27]:
# Eliminar filas de 'zones' con valores duplicados en 'nta_code'.
# Para evitar filas duplicadas luego del merge.
zones_clean = zones.drop_duplicates(subset=['nta_code'])

In [56]:
zones_clean.head(10)

    location_id        borough                     zone service_zone nta_code
0             1            EWR           Newark Airport          EWR     NJ01
1             2         Queens              Jamaica Bay    Boro Zone     QN61
2             3          Bronx  Allerton/Pelham Gardens    Boro Zone     BX31
3             4      Manhattan            Alphabet City  Yellow Zone     MN22
4             5  Staten Island            Arden Heights    Boro Zone     SI48
5             6  Staten Island  Arrochar/Fort Wadsworth    Boro Zone     SI14
6             7         Queens                  Astoria    Boro Zone     QN70
8             9         Queens               Auburndale    Boro Zone     QN48
9            10         Queens             Baisley Park    Boro Zone     QN76
10           11       Brooklyn               Bath Beach    Boro Zone     BK27

In [29]:
# green_zones = green_nta.join(zones, on='nta_code')
green_zones = pd.merge(green_nta, zones_clean, on='nta_code', how='left')
# green_zones = green_zones.rename(columns={'name': 'nta_code'})

In [70]:
green_zones.head(100)

,pickup_datetime,dropoff_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,trip_distance,total_amount,nta_code,location_id,borough,zone,service_zone
0,2015-02-01 01:26:45,2015-02-01 01:49:58,-73.953545,40.811172,-73.984764,40.728386,1,8.11,27.80,MN09,166.0,Manhattan,Morningside Heights,Boro Zone
1,2015-01-02 20:06:28,2015-01-02 20:14:04,-73.946709,40.714321,-73.961571,40.711475,1,1.29,9.80,BK90,80.0,Brooklyn,East Williamsburg,Boro Zone
2,2014-09-27 17:55:38,2014-09-27 18:19:56,-73.957626,40.718094,-73.947304,40.777813,5,6.12,26.30,BK73,255.0,Brooklyn,Williamsburg (North Side),Boro Zone
3,2014-04-27 02:27:04,2014-04-27 02:39:02,-73.949501,40.713997,-73.987785,40.718582,2,3.68,17.30,BK73,255.0,Brooklyn,Williamsburg (North Side),Boro Zone
4,2014-05-26 18:32:19,2014-05-26 18:44:13,-73.944092,40.672195,-73.977325,40.664013,1,2.40,11.50,BK61,61.0,Brooklyn,Crown Heights North,Boro Zone
5,2015-03-04 21:36:48,2015-03-04 21:43:47,-73.954826,40.804962,-73.944008,40.812088,1,1.16,9.36,MN11,NaN,NaN,NaN,NaN
6,2015-01-21 09:27:41,2015-01-21 09:51:01,-73.862000,40.730438,-73.865089,40.656422,1,7.50,25.80,QN18,196.0,Queens,Rego Park,Boro Zone
7,2015-03-07 18:51:58,2015-03-07 19:20:49,-73.971947,40.675697,-74.009293,40.635708,6,4.58,21.30,BK37,106.0,Brooklyn,Gowanus,Boro Zone
8,2015-01-11 16:55:04,2015-01-11 17:04:26,-73.949883,40.681896,-73.923279,40.684875,1,1.51,8.80,BK75,17.0,Brooklyn,Bedford,Boro Zone
9,2014-05-30 05:53:15,2014-05-30 06:00:00,-73.952370,40.789875,-73.949173,40.781448,1,1.20,7.50,MN33,75.0,Manhattan,East Harlem South,Boro Zone
10,2015-06-12 01:13:51,2015-06-12 01:28:05,-73.944412,40.714386,-73.906830,40.693111,1,3.36,17.76,BK90,80.0,Brooklyn,East Williamsburg,Boro Zone
11,2015-05-06 23:27:02,2015-05-06 23:36:13,-73.947983,40.795643,-73.935081,40.828392,2,2.59,10.80,MN33,75.0,Manhattan,East Harlem South,Boro Zone
12,2014-08-30 01:16:49,2014-08-30 01:21:39,-73.957748,40.717758,-73.957664,40.730423,2,1.02,6.00,BK73,255.0,Brooklyn,Williamsburg (North Side),Boro Zone
13,2015-05-28 17:46:46,2015-05-28 18:43:20,-73.954391,40.689556,-73.782257,40.648735,1,11.87,46.80,BK75,17.0,Brooklyn,Bedford,Boro Zone
14,2014-08-29 00:03:16,2014-08-29 00:36:01,-73.993042,40.702480,-73.949760,40.784592,1,8.25,35.00,BK38,25.0,Brooklyn,Boerum Hill,Boro Zone
15,2015-06-05 16:03:43,2015-06-05 16:12:50,-73.949684,40.809521,-73.948250,40.793056,1,1.55,10.30,MN11,NaN,NaN,NaN,NaN
16,2015-01-21 18:32:22,2015-01-21 18:38:33,-73.927696,40.823414,-73.918404,40.818977,1,1.00,8.00,BX63,247.0,Bronx,West Concourse,Boro Zone
17,2015-03-07 10:20:28,2015-03-07 10:23:46,-73.963661,40.682774,-73.963524,40.676258,1,0.50,6.36,BK69,34.0,Brooklyn,Brooklyn Navy Yard,Boro Zone
18,2014-08-03 08:39:43,2014-08-03 08:52:37,-73.843697,40.722828,-73.895020,40.681301,1,5.21,17.00,QN17,95.0,Queens,Forest Hills,Boro Zone
19,2014-06-23 07:43:32,2014-06-23 07:50:25,-73.930832,40.848251,-73.944366,40.830429,3,1.50,8.00,MN35,243.0,Manhattan,Washington Heights North,Boro Zone
20,2014-09-10 03:23:09,2014-09-10 03:30:25,-73.891106,40.747299,-73.880836,40.741787,1,1.20,8.50,QN28,129.0,Queens,Jackson Heights,Boro Zone
21,2015-06-24 15:36:52,2015-06-24 16:40:29,-73.980217,40.660820,-73.789177,40.641697,1,13.90,52.30,BK40,257.0,Brooklyn,Windsor Terrace,Boro Zone
22,2015-04-12 21:25:24,2015-04-12 21:31:29,-73.874191,40.750832,-73.880211,40.763622,1,1.11,7.30,QN28,129.0,Queens,Jackson Heights,Boro Zone
23,2015-03-09 18:59:42,2015-03-09 19:01:02,-73.954903,40.720528,-73.951027,40.724209,1,0.29,4.80,BK73,255.0,Brooklyn,Williamsburg (North Side),Boro Zone
24,2015-03-16 03:36:40,2015-03-16 03:40:16,-73.891533,40.746910,-73.893448,40.758286,1,0.80,6.30,QN28,129.0,Queens,Jackson Heights,Boro Zone
25,2014-07-24 15:24:44,2014-07-24 15:29:48,-73.954041,40.730293,-73.945892,40.730549,1,0.59,5.50,BK76,112.0,Brooklyn,Greenpoint,Boro Zone
26,2015-05-12 20:42:47,2015-05-12 21:04:50,-73.959244,40.667355,-73.883423,40.673901,1,4.30,19.30,BK63,62.0,Brooklyn,Crown Heights South,Boro Zone
27,2014-06-20 12:43:48,2014-06-20 12:54:38,-73.927986,40.670444,-73.903046,40.663364,1,1.91,10.50,BK61,61.0,Brooklyn,Crown Heights North,Boro Zone
28,2014-09-15 13:11:40,2014-09-15 13:20:15,-73.892021,40.748993,-73.885391,40.744148,1,1.13,7.50,QN28,129.0,Queens,Jackson Heights,Boro Zone
29,2014-04-30 21:31:54,2014-04-30 21:40:50,-73.937531,40.666485,-73.948692,40.654312,1,1.74,10.00,BK63,62.0,Brooklyn,Crown Heights South,Boro Zone
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,2015-02-03 19:38:03,2015-02-03 19:41:33,-73.870781,40.751438,-73.878548,40.750393,1,0.43,5.80,QN28,129.0,Queens,Jackson Heights,Boro Zone
71,2014-04-17 22:09:26,2014-04-17 22:15:07,-73.999107,40.675781,-73.990189,40.687237,1,1.18,7.00,BK33,40.0,Brooklyn,Carroll Gardens,Boro Zone
72,2015-02-20 00:34:35,2015-02-20 00:49:07,-73.950409,40.723125,-73.913971,40.703712,1,3.11,16.56,BK76,112.0,Brooklyn,Greenpoint,Boro Zone
73,2015-03-12 19:36:33,2015-03-12 19:57:15,-73.869865,40.749855,-73.930351,40.756886,1,3.63,17.80,QN28,129.0,Queens,Jackson Heights,Boro Zone
74,2014-05-08 09:58:40,2014-05-08 10:08:22,-73.936325,40.749748,-73.925377,40.765305,2,1.54,9.00,QN68,145.0,Queens,Long Island City/Hunters Point,Boro Zone
75,2015-06-15 14:27:15,2015-06-15 14:31:20,-73.938309,40.817593,-73.948334,40.812241,1,0.83,5.80,MN03,41.0,Manhattan,Central Harlem,Boro Zone
76,2014-05-01 19:34:12,2014-05-01 19:50:36,-73.938560,40.816971,-73.953255,40.778301,1,3.68,16.00,MN03,41.0,Manhattan,Central Harlem,Boro Zone
77,2014-06-09 09:55:30,2014-06-09 10:02:31,-73.871284,40.734108,-73.877792,40.738510,1,0.73,6.50,QN29,82.0,Queens,Elmhurst,Boro Zone
78,2015-06-19 12:50:59,2015-06-19 13:00:58,-73.877609,40.748463,-73.884613,40.744644,3,1.28,8.30,QN28,129.0,Queens,Jackson Heights,Boro Zone
79,2015-02-08 01:04:51,2015-02-08 01:10:39,-73.956360,40.673141,-73.943886,40.661911,5,1.51,9.96,BK61,61.0,Brooklyn,Crown Heights North,Boro Zone
80,2014-06-07 21:12:31,2014-06-07 21:32:34,-73.943207,40.836601,-73.931252,40.822369,1,1.51,14.00,MN36,120.0,Manhattan,Highbridge Park,Boro Zone
81,2014-04-15 21:32:20,2014-04-15 21:59:03,-73.952164,40.717628,-73.979996,40.783543,1,6.60,29.40,BK73,255.0,Brooklyn,Williamsburg (North Side),Boro Zone
82,2015-05-08 01:04:58,2015-05-08 01:20:07,-73.954308,40.742786,-73.913094,40.774048,1,3.16,19.24,QN31,226.0,Queens,Sunnyside,Boro Zone
83,2014-07-08 23:54:31,2014-07-08 23:54:32,-73.860222,40.744179,-73.860222,40.744179,1,0.00,44.00,QN25,56.0,Queens,Corona,Boro Zone
84,2014-05-15 02:57:17,2014-05-15 03:02:56,-73.922203,40.707272,-73.908707,40.694813,1,1.38,8.90,BK77,36.0,Brooklyn,Bushwick North,Boro Zone
85,2014-05-12 09:09:17,2014-05-12 09:17:54,-73.872345,40.754665,-73.867210,40.761017,1,1.11,8.00,QN26,173.0,Queens,North Corona,Boro Zone
86,2014-09-10 07:00:06,2014-09-10 07:18:30,-73.942497,40.832218,-73.951248,40.786018,1,3.83,16.00,MN36,120.0,Manhattan,Highbridge Park,Boro Zone
87,2014-05-08 16:58:06,2014-05-08 17:11:31,-73.921333,40.766666,-73.918465,40.765068,5,2.31,12.50,QN70,7.0,Queens,Astoria,Boro Zone
88,2014-07-13 16:58:58,2014-07-13 17:22:45,-73.972198,40.673180,-73.971573,40.743675,6,9.67,44.90,BK37,106.0,Brooklyn,Gowanus,Boro Zone
89,2014-08-04 06:13:44,2014-08-04 06:29:42,-73.989601,40.701839,-73.976692,40.755371,1,6.34,23.00,BK38,25.0,Brooklyn,Boerum Hill,Boro Zone
90,2014-08-22 08:29:57,2014-08-22 08:31:26,-73.954117,40.811268,-73.959381,40.811089,1,0.40,4.00,MN09,166.0,Manhattan,Morningside Heights,Boro Zone
91,2015-01-10 10:50:01,2015-01-10 10:58:30,-73.937988,40.797108,-73.944237,40.806377,1,1.52,8.80,MN34,74.0,Manhattan,East Harlem North,Boro Zone
92,2015-06-16 18:13:19,2015-06-16 18:39:37,-73.978157,40.689720,-73.944595,40.707916,1,3.67,25.38,BK68,97.0,Brooklyn,Fort Greene,Boro Zone
93,2014-09-18 07:51:03,2014-09-18 08:15:51,-73.848679,40.713879,-73.783241,40.643814,1,7.91,27.00,QN17,95.0,Queens,Forest Hills,Boro Zone
94,2014-09-21 01:01:11,2014-09-21 01:10:59,-73.918839,40.758919,-73.903069,40.746037,1,2.04,10.50,QN70,7.0,Queens,Astoria,Boro Zone
95,2015-01-03 08:32:19,2015-01-03 08:37:09,-73.917961,40.742878,-73.927238,40.729061,1,1.51,7.80,QN31,226.0,Queens,Sunnyside,Boro Zone
96,2015-05-26 12:03:02,2015-05-26 12:08:35,-73.987190,40.693691,-73.993729,40.690128,1,0.62,6.30,BK38,25.0,Brooklyn,Boerum Hill,Boro Zone
97,2015-02-12 18:37:45,2015-02-12 18:48:01,-73.890404,40.746464,-73.887611,40.762718,1,1.31,9.80,QN29,82.0,Queens,Elmhurst,Boro Zone
98,2015-05-02 15:06:48,2015-05-02 15:28:46,-73.990593,40.693176,-73.956123,40.775982,1,8.71,29.80,BK38,25.0,Brooklyn,Boerum Hill,Boro Zone
99,2014-09-05 02:33:02,2014-09-06 02:11:02,-73.937248,40.804626,-73.951157,40.814365,1,1.84,9.50,MN34,74.0,Manhattan,East Harlem North,Boro Zone

In [31]:
# NTAs que están en GEOGRAPHIC, pero no en ZONES
aux = green_zones[green_zones['nta_code'].notnull()]
aux = aux[aux.isnull().any(axis=1)]
aux.groupby(['nta_code'])['total_amount'].count()

nta_code
BK23      1075
BX99        85
MN11    171143
QN99         6
SI05        22
Name: total_amount, dtype: int64

In [32]:
# Parámetros con valores en nulo luego de hacer el merge entre green_nta y zones_clean
green_zones.isnull().sum()

pickup_datetime           0
dropoff_datetime          0
pickup_longitude          0
pickup_latitude           0
dropoff_longitude         0
dropoff_latitude          0
passenger_count           0
trip_distance             0
total_amount              0
nta_code              97549
location_id          269880
borough              269880
zone                 269880
service_zone         269880
dtype: int64

### Merge con Demographics

In [43]:
demographics = pd.read_csv("demographics.csv")

In [47]:
demographics.columns

Index(['nta_name', 'borough', 'nta_code', 'population', 'under_5_years',
       '5-9_years', '10-14_years', '15-19_years', '20-24_years', '25-29_years',
       '30-34_years', '35-39_years', '40-44_years', '45-49_years',
       '50-54_years', '55-59_years', '60-64_years', 'over_65_years',
       'median_age', 'people_per_acre', 'households', 'less_than_10,000',
       '10000_to_14999', '15000_to_24999', '25000_to_34999', '35000_to_49999',
       '50000_to_74999', '75000_to_99999', '100000_to_149999',
       '150000_to_199999', '200000_or_more', 'median_income', 'mean_income'],
      dtype='object')

In [46]:
# demographics.head()

,nta_name,borough,nta_code,population,under_5_years,5-9_years,10-14_years,15-19_years,20-24_years,25-29_years,...,15000_to_24999,25000_to_34999,35000_to_49999,50000_to_74999,75000_to_99999,100000_to_149999,150000_to_199999,200000_or_more,median_income,mean_income
0,Allerton-Pelham Gardens,Bronx,BX31,28903,1679,1706,1763,2039,1964,1703,...,797,773,1160,1764,1155,1562,765,427,61638,78489
1,Annadale-Huguenot-Prince's Bay-Eltingville,Staten Island,SI01,27770,1397,1698,1817,1880,1720,1594,...,571,405,1008,1523,1346,2075,1086,1151,88288,109187
2,Arden Heights,Staten Island,SI48,25238,1507,1540,1596,1752,1614,1561,...,337,516,707,1421,1611,2021,1047,740,89570,101627
3,Astoria,Queens,QN70,78793,3480,3037,3060,3392,6630,11586,...,3673,2816,4725,6463,4557,4698,1627,1197,54882,70094
4,Auburndale,Queens,QN48,19996,917,966,1063,1168,1214,1307,...,445,632,690,1417,1060,1237,589,433,70772,84402

In [69]:
# Hay filas duplicadas? No
#demographics.loc[demographics['nta_code']=='QN48']
names = demographics.nta_code.value_counts()
len(names[names > 1])

0

In [63]:
green_demo = pd.merge(green_zones, demographics, on='nta_code', how='left')

In [65]:
green_demo.columns

Index(['pickup_datetime', 'dropoff_datetime', 'pickup_longitude',
       'pickup_latitude', 'dropoff_longitude', 'dropoff_latitude',
       'passenger_count', 'trip_distance', 'total_amount', 'nta_code',
       'location_id', 'borough_x', 'zone', 'service_zone', 'nta_name',
       'borough_y', 'population', 'under_5_years', '5-9_years', '10-14_years',
       '15-19_years', '20-24_years', '25-29_years', '30-34_years',
       '35-39_years', '40-44_years', '45-49_years', '50-54_years',
       '55-59_years', '60-64_years', 'over_65_years', 'median_age',
       'people_per_acre', 'households', 'less_than_10,000', '10000_to_14999',
       '15000_to_24999', '25000_to_34999', '35000_to_49999', '50000_to_74999',
       '75000_to_99999', '100000_to_149999', '150000_to_199999',
       '200000_or_more', 'median_income', 'mean_income'],
      dtype='object')

In [64]:
green_demo.head()

,pickup_datetime,dropoff_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,trip_distance,total_amount,nta_code,...,15000_to_24999,25000_to_34999,35000_to_49999,50000_to_74999,75000_to_99999,100000_to_149999,150000_to_199999,200000_or_more,median_income,mean_income
0,2015-02-01 01:26:45,2015-02-01 01:49:58,-73.953545,40.811172,-73.984764,40.728386,1,8.11,27.8,MN09,...,1979.0,1784.0,1482.0,2381.0,2009.0,2193.0,1385.0,2514.0,56371.0,96085.0
1,2015-01-02 20:06:28,2015-01-02 20:14:04,-73.946709,40.714321,-73.961571,40.711475,1,1.29,9.8,BK90,...,1902.0,1426.0,1610.0,2243.0,1693.0,2219.0,1002.0,618.0,50777.0,69329.0
2,2014-09-27 17:55:38,2014-09-27 18:19:56,-73.957626,40.718094,-73.947304,40.777813,5,6.12,26.3,BK73,...,1831.0,2071.0,2038.0,3158.0,2292.0,2934.0,1642.0,2051.0,61381.0,89513.0
3,2014-04-27 02:27:04,2014-04-27 02:39:02,-73.949501,40.713997,-73.987785,40.718582,2,3.68,17.3,BK73,...,1831.0,2071.0,2038.0,3158.0,2292.0,2934.0,1642.0,2051.0,61381.0,89513.0
4,2014-05-26 18:32:19,2014-05-26 18:44:13,-73.944092,40.672195,-73.977325,40.664013,1,2.40,11.5,BK61,...,5231.0,4543.0,5901.0,6692.0,3927.0,3466.0,1089.0,686.0,37104.0,51519.0

### Merge con Weather

In [33]:
weather = pd.read_csv("weather.csv")

In [34]:
weather.head()

,date,max_temp,min_temp,avg_temp,precipitation,snowfall,snow_depth,location,latitude,longitude
0,1/1/14,34,24,29.0,0,0,0,JFK,40.64749,-73.779982
1,1/2/14,33,19,26.0,0.13,2.4,0,JFK,40.64749,-73.779982
2,1/3/14,19,9,14.0,0.22,5.5,7,JFK,40.64749,-73.779982
3,1/4/14,31,3,17.0,0,0,7,JFK,40.64749,-73.779982
4,1/5/14,49,23,36.0,0.1,,6,JFK,40.64749,-73.779982

In [38]:
weather['date'] = pd.to_datetime(weather['date'])

In [42]:
weather.head()

,date,max_temp,min_temp,avg_temp,precipitation,snowfall,snow_depth,location,latitude,longitude
0,2014-01-01,34,24,29.0,0,0,0,JFK,40.64749,-73.779982
1,2014-01-02,33,19,26.0,0.13,2.4,0,JFK,40.64749,-73.779982
2,2014-01-03,19,9,14.0,0.22,5.5,7,JFK,40.64749,-73.779982
3,2014-01-04,31,3,17.0,0,0,7,JFK,40.64749,-73.779982
4,2014-01-05,49,23,36.0,0.1,,6,JFK,40.64749,-73.779982

#### Total de pickup por cada NTA

In [35]:
# Total de pickup por cada NTA
df_count_group_by_NTA = pointInPoly.groupby(pointInPoly['name']).size()
print("Total NTAs: " + str(df_count_group_by_NTA.sort_values(ascending=[False]).shape[0]))
df_count_group_by_NTA.sort_values(ascending=[False]).head(10)

Total NTAs: 178

name
BK73    262645
QN70    173194
MN34    171974
BK38    171813
MN11    171143
MN33    153241
MN09    150311
QN29    136821
BK37    123653
MN03    121056
dtype: int64